/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {

/*  PINK - Light to Dark */
  --ifm-color-primary: #E94591;
  --ifm-color-primary-dark: #CD3082;
  --ifm-color-primary-darker: #E03E8C;
  --ifm-color-primary-darkest: #C4297D;

  --ifm-color-secondary: #96CCA6;
  --ifm-color-secondary-dark: #A3CE8E;
  --ifm-color-secondary-darker: #BCD45E;
  --ifm-color-secondary-darkest: #C9D646;

  --ifm-background-color: var(--ifm-color-gray-100);

/*  GREEN - Dark to Light */


  --ifm-color-primary-light: #C9D646;
  --ifm-color-primary-lighter: #B0D176;
  --ifm-color-primary-lightest: #96CCA6;
  --ifm-code-font-size: 95%;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {

/*  GREEN - Light to dark */
  --ifm-color-primary: #96CCA6;
  --ifm-color-primary-dark: #A3CE8E;
  --ifm-color-primary-darker: #BCD45E;
  --ifm-color-primary-darkest: #C9D646;

  --ifm-background-color: var(--ifm-color-gray-900);


  --ifm-color-secondary: #E94591;
  --ifm-color-secondary-dark: #D63787;
  --ifm-color-secondary-darker: #E03E8C;
  --ifm-color-secondary-darkest: #C4297D;


/*  PINK - Dark to Light */

  --ifm-color-primary-light: #C4297D;
  --ifm-color-primary-lighter: #D63787;
  --ifm-color-primary-lightest: #E94591;


  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* 

Dark Pink: #C4297D
Light Pink: #E94591

Computed 5-color scale:
	1.	#C4297D (Dark Pink)
	2.	#CD3082
	3.	#D63787
	4.	#E03E8C
	5.	#E94591 (Light Pink)


Light Green: #96CCA6
Dark Green: #C9D646

Computed 5-color scale:
	1.	#96CCA6 (Light Green)
	2.	#A3CE8E
	3.	#B0D176
	4.	#BCD45E
	5.	#C9D646 (Dark Green)

*/